<footer class="site-footer">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-4">
        <div class="widget">
          <h3>About</h3>
          <p>
            Esta es una versión de prototipo de la aplicación y puede estar
            sujeta a cambios y mejoras en el futuro. <br />
            Todas las imagenes presentadas en esta web son gracias a
            <a href="https://www.freepik.es/">Freepik</a> y
            <a href="https://unsplash.com/es">Unsplash</a>
          </p>
        </div>
        <div class="widget">
          <h3>Connect with us</h3>
          <ul class="social list-unstyled">
            <li>
              <a href="#"><span class="icon-facebook"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon-twitter"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon-instagram"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon-dribbble"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon-linkedin"></span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-12">
            <div class="widget">
              <h3>Navigations</h3>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-4">
            <div class="widget">
              <ul class="links list-unstyled">
                <li><a href="#">Inicio</a></li>
                <li><a href="#funcionamiento">Funcionamiento</a></li>
                <li><a href="#grammarbot">GrammarBot</a></li>
              </ul>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-4">
            <div class="widget">
              <ul class="links list-unstyled">
                <li><a href="https://www.utpl.edu.ec">UTPL</a></li>
                <li><a href="#big5">5 Grandes</a></li>
                <li><a href="#team">Equipo</a></li>
              </ul>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-4">
            <div class="widget">
              <ul class="links list-unstyled">
                <li><a href="login/">Entrar</a></li>
                <li><a href="#symantoAPI">Symanto</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center text-center copyright">
      <div class="col-md-8">
        <!-- 
      **==========
      NOTE: 
      Please don't remove this copyright link unless you buy the license here https://untree.co/license/  

      **==========
    -->
        <p class="mb-0">
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          . All Rights Reserved. &mdash; Designed with love by
          <a href="https://untree.co">Untree.co</a>
          <!-- License information: https://untree.co/license/ -->
        </p>
      </div>
    </div>
  </div>
</footer>
